body {
  text-align: center;
  background-image: url("images/forest.jpg");
  font-style: italic;
  color: #000;
}

ul {
  list-style: none;
}

input[type="text"] {
  background-color: rgba(50, 50, 0, .15);
  color: white;
}

h1 {
   letter-spacing: 25px;
   text-shadow: 2px 2px 2px #CCCCCC;
   font-style: italic;
   font-family: 'Georgia, serif';
   text-decoration: underline;
}

h2 {
  letter-spacing: 10px;
}

.btn {
  background-color: rgba(50, 50, 0, .15);
}
